<div class = "list">
	<div class="item" > 
	 	          <!--div audio options="sirene"/> 
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(dicas[0])"
	              >{{dicas[0].texto}}</button-->
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(dicas[1])" >{{dicas[1].texto}}</button> 
	              <button class="btn btn-md btn-default"
	              ng-click="imprimir(dicas[2])" >{{dicas[2].texto}}</button>   
	              <button class="btn btn-md btn-default" 
	              ng-click="imprimir(dicas[3])">{{dicas[3].texto}}</button>
	          </div>
</div>

