<div id="diviniciar">
<button class= "btiniciar" type="button" ng-click = "startJogo()">Iniciar</button>
<button class= "btresetar" type="button" ng-click = "resetarJogo()">Recomeçar</button>
</div>
<div id = "clockdiv">
  <div>
    <span class = "minuto">{{minuto}}</span>
  </div>

  <div>
    <span class = "segundo">{{segundo}}</span>
  </div>
</div>
<div>
  <center><h2>Efeitos</h2></center>
  <efeitos></efeitos>
</div>
<div>
  <center><h2>Dicas</h2></center>
  <dicas></dicas>
</div>
<div>
  <center><h2>Alertas</h2></center>
  <alertas></alertas>
</div>
<div>
  <center><h2>Acionamentos</h2></center> 
  <acio></acio>
</div>
</br></br>
<p align="center">
 {{message }}
</p>







